{% load i18n %}
<div class="form fancy">
    <div id="usage_simple" style="position:relative;">
        <form action="{% url 'schedule:schedule_slot_edit' slug slot.pk %}" method="post" id="slotEditForm" autocomplete="off">
            {% if response_form.non_field_errors %}
            <div class="message error">
                <p>Er zijn één of meerdere velden niet of niet juist ingevuld. Controleer uw gegevens en verstuur het formulier
                    opnieuw.
                </p>
                {{ response_form.non_field_errors }}
            </div>
            {% endif %} {% csrf_token %}
            <div class="formWrapper eform">
                <div id="page0" class="eforms-page conditionally-visible">
                    <div class="eformText">
                        <h2 class="req">Wijzig tijdslot</h2>
                        <p class="meta req">* verplichte velden</p>
                    </div>
                    <h3> {% trans "Vul onderstaande gegevens in" %} </h3>
                    {% include "schedule/_form.html" %}
                </div>
                <div class="eforms-buttons">
                    <input type="submit" id="confirm-button" name="confirm" class="" value="Ga verder" />
                </div>
            </div>
        </form>
    </div>
</div>