{% extends "mainscreen/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Promote voorstel | UBR|V-Lab{%endblock %}

{% block navbar %}
<nav class="breadCrumbNav">
    <span class="assistive">U bevindt zich hier:</span>
    <a href="https://www.ubrijk.nl/organisatie/ubr/over-ubr/ubr-v-lab">UBR|V-Lab</a>
    <a href="{% url 'schedule:schedule_edit' schedule.section.slug %}">{{ schedule.section }}</a>
    <span>Promotie</span>
</nav>
{% endblock %}

{% block content %}
<div id="content" class="article">
    <h1>Promotie van ontvangen voorstellen</h1>

    <div class="form fancy">
        <div id="usage_simple" style="position:relative;">
            <form id="schedule-builder" action="." method="post" enctype="multipart/form-data">
                {% if response_form.non_field_errors %}
                <div class="message error">
                    <p>Er zijn één of meerdere velden niet of niet juist ingevuld. Controleer uw gegevens en verstuur het formulier
                        opnieuw.
                    </p>
                    {{ response_form.non_field_errors }}
                </div>
                {% endif %} {% csrf_token %}
                <div class="formWrapper eform">
                    <div id="page0" class="eforms-page conditionally-visible">
                        <div class="eformText">
                            <h2 class="req">Kies het te promoveren voorstel</h2>
                            <p class="meta req">* verplichte velden</p>
                        </div>
                        {% include "schedule/_form.html" %}
                    </div>
                    <div class="eforms-buttons">
                        <input type="submit" name="submit" value="Promoveer voorstel" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% if perms.schedule.change_presentation %}
<div id="aside">
  <div class="brick linkBlock">
    <h2>Beheer</h2>
    <ul class="common">
      <li>
	    <a href="/admin/schedule/presentation/" class="common">Wijzigen gepromoveerd voorstel</a>
      </li>
    </ul>
  </div>
</div>
{% endif %}

{% endblock %}
