{% extends "mainscreen/base.html" %}

{% block title %}{{ survey.name }} | Evenement | UBR|V-Lab{% endblock %}

{% block navbar %}
<nav class="breadCrumbNav">
  <span class="assistive">U bevindt zich hier:</span>
  <a href="https://www.ubrijk.nl/organisatie/ubr/ubr-v-lab">UBR|V-Lab</a>
  <a href="{% url 'evenementen:evenementen' %}">Evenementen</a>
  {% if evenement %}
  <a href="{{ evenement.get_absolute_url }}">{{ evenement.naam }}</a>
  {% endif %}
  <span>{{ survey.name }}</span>
</nav>
{% endblock %}

{% block content %}
<div id="content" class="article">
  <div class="container" id="wrap">
    {% block wrapper %} {% endblock %}
    <div class="well" id="container-main">
      {% block body %} {% endblock %}
    </div>
  </div>
</div>
{% endblock %}