{% extends 'survey/base.html' %}
{% load i18n %}
{% load survey_extras %}

{% block title %}{{ survey.name }} | Aanmelding{% endblock %}

{% block extrajs %}
{{response_form.media}}
{% endblock %}

{% block body %}
<h1> {{survey.name}} </h1>
<div class="survey-description"> {{survey.description|safe}} </div>
<div class="form fancy">
	<div id="usage_simple" style="position:relative;">
		<form action="{% url 'survey:survey-detail' id=survey.id %}" method="post" id="survey_form" autocomplete="off">
			{% if response_form.non_field_errors %}
			<div class="message error">
				<p>Er zijn één of meerdere velden niet of niet juist ingevuld. Controleer uw gegevens en verstuur het formulier opnieuw.</p>
				{{ response_form.non_field_errors }}
			</div>
			{% endif %}
			{% csrf_token %}
			<div class="formWrapper eform">
				<div id="page0" class="eforms-page conditionally-visible">
					<div class="eformText">
						<h2 class="req">{{survey.soort}}</h2>
						<p class="meta req">* verplichte velden</p>
					</div>
					{% for category in categories %}
					<h3>{{category}}</h3>
					{% if category.description %}
					<p>{{category.description}}</p>
					{% endif %}
					{% include "survey/question.html" %}
					{% empty %}
					<h3> {% trans "Vul onderstaande gegevens in" %} </h3>
					{% include "survey/question.html" %}
					{% endfor %}
					{% include "survey/akkoordverklaring.html" %}
				</div>
				<div class="eforms-buttons">
					<input type="submit" id="confirm-button" name="confirm" class="" value="Ga verder" />
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}