{% extends "mainscreen/base.html" %}
{% load static %}

{% block title %}Afspraak plannen{% endblock %}

{% block navbar %}
<nav class="breadCrumbNav">
  <span class="assistive">U bevindt zich hier:</span>
	<a href="{% url 'afspraken:dashboard' %}">Datum prikken</a>
	<span>Afspraak plannen</span>
</nav>
{% endblock %}

{% block extrahead %}
{{ formset.media }}

<style type="text/css">
	.add-deelnemer-row {
		padding-left:18px;
		background:url({% static 'site/images/add.png' %}) no-repeat left center;
	}
  .add-afspraakoptie-row {
		padding-left:18px;
		background:url({% static 'site/images/add.png' %}) no-repeat left center;
	}
	.delete-deelnemer-row {
    float:right;
    display:block;
    margin:5px 0 0 5px;
    text-indent:-6000px;
    background:url({% static 'site/images/delete.png' %}) no-repeat left center;
    width:16px;
    height:16px;
  }
	.delete-afspraakoptie-row {
    float:right;
    display:block;
    margin:5px 0 0 5px;
    text-indent:-6000px;
    background:url({% static 'site/images/delete.png' %}) no-repeat left center;
    width:16px;
    height:16px;
  }
</style>
{% endblock %}

{% block extrascripts %}
<!--[if (gt IE 10)|!(IE)]><!-->
<script type="text/javascript">
  require(["/static/site/js/jquery.formset.js"], function() {
	//This function is called after jquery.formset.js has loaded.
	//https://elo80ka.wordpress.com/2009/10/10/jquery-plugin-django-dynamic-formset
	$(function() {
		$('div.deelnemer_form').formset({
			prefix: '{{ deelnemer_formset.prefix }}',
			addText: 'Deelnemer toevoegen',            // Text for the add link
			addCssClass: 'add-deelnemer-row',          // CSS class applied to the add link
			deleteCssClass: 'delete-deelnemer-row',    // CSS class applied to the delete link
		  formCssClass: 'dynamic-deelnemer-form',    // CSS class applied to each form in a formset
		});
		$('div.afspraakoptie_form').formset({
			prefix: '{{ afspraakoptie_formset.prefix }}',
			addText: 'Optie toevoegen',                    // Text for the add link
			addCssClass: 'add-afspraakoptie-row',          // CSS class applied to the add link
			deleteCssClass: 'delete-afspraakoptie-row',    // CSS class applied to the delete link
			formCssClass: 'dynamic-afspraakoptie-form',    // CSS class applied to each form in a formset
			added: function(row) {
				// Find the fields with the calendar widget
				$(row).find('.date').each(function(i) {
						$(this).datepicker();
				});
		  }
	  });
  });
});
require(['autocomplete'], function() {
	//Hier kun je je eigen code voor jQuery UI (v1.12.1) onderdeel: autocomplete uitvoeren.
	$(function() {
    $(".autocomplete-me").autocomplete({
      source: "{% url 'afspraken:autocomplete_email' %}",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
		console.log(ui);
    //var selectedObj = ui['invite_email'];
  }

});
</script>
<!--<![endif]-->
{% endblock %}

{% block content %}
<div id="content" class="article">
  <div class="form fancy">
	<div id="usage_simple" style="position:relative;">
	  <form action="{% url 'afspraken:plannen' %}" method="post" id="plannen_form" autocomplete="off">
		{% if response_form.non_field_errors %}<div class="message error"><p>Er zijn één of meerdere velden niet of niet juist ingevuld. Controleer uw gegevens en verstuur het formulier opnieuw.</p>{{ response_form.non_field_errors }}</div>{% endif %}
		{% csrf_token %}
		<div class="formWrapper eform">
		  <div id="page0" class="eforms-page">
			<div class="eformText">
			  <h2 class="req">Nieuwe afspraak plannen</h2>
			  <p class="meta req">* verplichte velden</p>
			</div>
      <h2>Afspraak:</h2>
	    {% for field in afspraak_form %}
		  <div {% if field.errors %}class="eforms-field error"{% else %}class="eforms-field"{% endif %}>
		    <label{% if field.id_for_label %} for="{{ field.id_for_label }}"{% endif %}>{{ field.label|safe }}:{% if field.field.required %}<strong class="req"> *</strong>{% endif %}</label>
			  <div class="field">
			    {{ field }}
			  </div>
			  {% if field.help_text %}
			  <div class="hint" data-opentxt="Toelichting bij het veld" data-closetxt="Sluit deze toelichting">
			    <p>{{ field.help_text|safe }}</p>
			  </div>
			  {% endif %}
			  {% if field.errors %}
			  {% for error in field.errors %}
			  <div class="message error"><p>{{ error|escape }}</p></div>
			  {% endfor %}
			  {% endif %}
		  </div>
		  {% endfor %}
		  </div>
		  <hr/>
      <h2>Deelnemers: <small>(minimaal 2)</small></h2>
		  {% for form in deelnemer_formset.forms %}
          <div id="{{ form.prefix }}-row" class="deelnemer_form eforms-page" style="padding-bottom:6px; border-bottom:1px dotted #ccc; margin-bottom:6px;">
	        {% for field in form %}
		    <div {% if field.errors %}class="eforms-field error"{% else %}class="eforms-field"{% endif %}>
		      <label{% if field.id_for_label %} for="{{ field.id_for_label }}"{% endif %}>{{ field.label|safe }}:{% if field.field.required %}<strong class="req"> *</strong>{% endif %}</label>
			  <div class="field">
			    {{ field }}
			  </div>
			  {% if field.help_text %}
			  <div class="hint" data-opentxt="Toelichting bij het veld" data-closetxt="Sluit deze toelichting">
			    <p>{{ field.help_text|safe }}</p>
			  </div>
			  {% endif %}
			  {% if field.errors %}
			  {% for error in field.errors %}
			  <div class="message error"><p>{{ error|escape }}</p></div>
			  {% endfor %}
			  {% endif %}
		    </div>
		    {% endfor %}
          </div>
		  {% endfor %}
		  <hr/>
          <h2>Afspraak opties: <small>(minimaal 2)</small></h2>
		  {% for form in afspraakoptie_formset.forms %}
          <div id="{{ form.prefix }}-row" class="afspraakoptie_form eforms-page" style="padding-bottom:6px; border-bottom:1px dotted #ccc; margin-bottom:6px;">
	        {% for field in form %}
		    <div {% if field.errors %}class="eforms-field error"{% else %}class="eforms-field"{% endif %}>
		      <label{% if field.id_for_label %} for="{{ field.id_for_label }}"{% endif %}>{{ field.label|safe }}:{% if field.field.required %}<strong class="req"> *</strong>{% endif %}</label>
			  <div class="field">
			    {{ field }}
			  </div>
			  {% if field.help_text %}
			  <div class="hint" data-opentxt="Toelichting bij het veld" data-closetxt="Sluit deze toelichting">
			    <p>{{ field.help_text|safe }}</p>
			  </div>
			  {% endif %}
			  {% if field.errors %}
			  {% for error in field.errors %}
			  <div class="message error"><p>{{ error|escape }}</p></div>
			  {% endfor %}
			  {% endif %}
		    </div>
		    {% endfor %}
          </div>
		  {% endfor %}
		  <hr/>
          <div class="eforms-buttons">
            {{ deelnemer_formset.management_form }}
            {{ afspraakoptie_formset.management_form }}
            <input type="submit" id="confirm-button" name="confirm" class="" value="Uitnodigingen versturen"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
