<!--
Your E-mail client doesn't support HTML
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Facilion digitale uitnodiging</title>
    <style type="text/css">
        body,
        html {
            margin: 0 !important;
            padding: 0 !important;
            background-color: #FFFFFF;
        }

        a {
            text-decoration: none;
            color: #154373;
        }

        h2 a {
            color: #154373;
        }

        a:hover {
            text-decoration: underline !important;
            color: #000000 !important;
        }

        td {
            font-family: Verdana, Geneva, sans-serif;
            font-size: 12px;
            vertical-align: top;
            line-height: 10px;
        }

        h1 {
            line-height: 30px;
            margin: 0 0 10px 0;
        }

        h2 {
            line-height: 22px;
            margin: 7px 0 3px 0;
        }

        h3 {
            line-height: 26px;
            margin: 0 0 10px 0;
        }

        h4 {
            line-height: 16px;
            margin: 7px 0 4px 0;
        }

        p {
            margin: 0 0 13px 0;
            line-height: 17px;
        }

        ul li {
            line-height: 17px !important;
        }

        ol li {
            line-height: 17px !important;
        }
    </style>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
            <td align="center">
                <table width="648" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="30" colspan="3" bgcolor="#F2F2F2">
                            <a name="top" id="top"></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center" bgcolor="#F2F2F2">
                            <table width="608" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="107" colspan="3" align="left" valign="top" bgcolor="#FFFFFF">
                                        <img src="cid:{{ header }}" width="608" height="87" alt="" style="background-color: #007BC7;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20" bgcolor="#FFFFFF">
                                        <img src="cid:{{ image002 }}" width="20" height="20" alt="" />
                                    </td>
                                    <td width="518" bgcolor="#FFFFFF">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td align="left">
                                                                <table width="100%" border="0" cellspacing="0"
                                                                    cellpadding="0" bgcolor="#FFFFFF">
                                                                    <tr>
                                                                        <td>&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            {% block content %}
                                                                            {% endblock content %}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>&nbsp;</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td align="left">
                                                                <table width="100%" border="0" cellspacing="0"
                                                                    cellpadding="0" bgcolor="#FFFFFF" style="border-top:1px solid #EFEFEF;">
                                                                    <tr>
                                                                        <td>&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            {% block greeting %}
                                                                            {% endblock greeting %}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>&nbsp;</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="20" bgcolor="#FFFFFF">
                                        <img src="cid:{{ image002 }}" alt="" width="20" height="20" />
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" colspan="3" valign="bottom" bgcolor="#FFFFFF">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="20" colspan="3" valign="bottom" bgcolor="#FFFFFF">
                                        <img src="cid:{{ footer }}" alt="" width="608" height="40" align="bottom" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="30" colspan="3" bgcolor="#F2F2F2">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="15" align="center" valign="middle">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>