{% load i18n %}
    
<tr>
    <td>
        <a href="{% url 'proposals:proposal_detail' proposal.pk %}">{{ proposal.title }}</a>
    </td>

    <td>{{ proposal.kind.name }}</td>

    <td>
        {% if proposal.cancelled %}
            <span class="label label-danger">Ingetrokken</span>
        {% else %}
            {% if request.user == proposal.speaker.user %}
                {% if proposal.result.status == "accepted" %}
                    <span class="label label-success">Geaccepteerd</span>
                {% else %}
                    <span class="label label-default">Ingediend</span>
                {% endif %}
            {% else %}
                <span class="label label-default">Uitgenodigd</span>
            {% endif %}
        {% endif %}
    </td>

    <td>
        {% if not proposal.cancelled %}
        <a style="color: #FFF;" href="{% url 'proposals:proposal_pending_join' proposal.id %}" class="btn btn-xs">Uitnodiging accepteren</a>
        <a style="color: #FFF;" href="{% url 'proposals:proposal_pending_decline' proposal.id %}" class="btn btn-xs">Uitnodiging afwijzen</a>
        {% endif %}
    </td>
</tr>
