{% load i18n %}
<table>
    <tr>
        <td>Ingediend:</td>
        <td>{{ proposal.speaker }}</td>
    </tr>
    {% if proposal.additional_speakers.all %}
    <tr>
        <td>Extra speakers:</td>
        <td>{% for speaker in proposal.additional_speakers.all %}
            <li>
                {% if speaker.user %}
                <strong>{{ speaker.name }}</strong> &lt;{{ speaker.email }}&gt;
                {% else %}
                {{ speaker.email }} (Uitgenodigd)
                {% endif %}
            </li>
            {% endfor %}
        </td>
    </tr>
    {% endif %}
    <tr>
        <td>Samenvatting:</td>
        <td>{{ proposal.description }}&nbsp;</td>
    </tr>
    <tr>
        <td>Beschrijving:</td>
        <td>{{ proposal.abstract|safe }}&nbsp;</td>
    </tr>
    <tr>
        <td>Notities:</td>
        <td>{{ proposal.additional_notes|safe }}&nbsp;</td>
    </tr>
    <tr>
        <td>Bio:</td>
        <td>{{ proposal.speaker.biography|safe }}&nbsp;</td>
    </tr>
</table>