{% extends "mainscreen/base.html" %}
{% load i18n %}

{% block title %}Indienen voorstel | UBR|V-Lab{% endblock %}

{% block navbar %}
<nav class="breadCrumbNav">
    <span class="assistive">U bevindt zich hier:</span>
    <a href="https://www.ubrijk.nl/organisatie/ubr/ubr-v-lab">UBR|V-Lab</a>
    <a href="{% url 'symposion:dashboard' %}">Dashboard</a>
    <span>Voorstel</span>
</nav>
{% endblock %}

{% block content %}
<div id="content" class="article">
    <div class="form fancy">
        <div id="usage_simple" style="position:relative;">
            <form action="" method="post" enctype="multipart/form-data" id="document_create_form" autocomplete="off">
                {% if response_form.non_field_errors %}
                <div class="message error">
                    <p>Er zijn één of meerdere velden niet of niet juist ingevuld. Controleer uw gegevens en verstuur het formulier opnieuw.</p>{{
                    response_form.non_field_errors }}</div>{% endif %} {% csrf_token %}
                <div class="formWrapper">
                    <div id="page0" class="eforms-page">
                        <div class="eformText">
                            <h2>Voorstel indienen</h2>
                            <p class="meta req">* verplichte velden</p>
                        </div>
                        {% include "proposals/_form.html" %}
                    </div>
                    <div class="eforms-buttons">
                        <input type="submit" id="confirm-button" name="confirm" class="" value="Indienen" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
