{% extends "mainscreen/base.html" %}
{% load static %}
{% load i18n %}
{% load proposal_tags %}

<!-- Custom styles for this site -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'site/css/slight.css' %}" type="text/css" media="all">
{% endblock extrahead %}

{% block title %}Programma | UBR|V-Lab{% endblock %}

{% block navbar %}
<nav class="breadCrumbNav">
    <span class="assistive">U bevindt zich hier:</span>
    <a href="https://www.ubrijk.nl/organisatie/ubr/over-ubr/ubr-v-lab">UBR|V-Lab</a>
    <a href="{% url 'symposion:dashboard' %}">Dashboard</a>
    <span>{{ proposal.title }}</span>
</nav>
{% endblock %}

{% block subnavigation %}
{% if not proposal.cancelled %}
<div class="subNavigation">
    <div class="wrapper">
        <ul>
            {% if request.user == proposal.speaker.user %}
            <li>
                <a href="{% url 'proposals:proposal_edit' proposal.pk %}">Aanpassen voorstel</a>
            </li>
            <li>
                <a href="{% url 'proposals:proposal_cancel' proposal.pk %}">Intrekken voorstel</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'proposals:proposal_leave' proposal.pk %}">Verwijder mij als medespreker</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div id="content" class="article">
    <h3>#{{ proposal.number }}: {{ proposal.title }} ({{ proposal.speaker }}, Track: {{ proposal.track }})</h3>
    {% include "proposals/_proposal_fields.html" %}
    {% if request.user == proposal.speaker.user %}
    <h3>Bijgevoegde documenten</h3>
    {% if proposal.supporting_documents.exists %}
    <table class="table table-striped">
        {% for document in proposal.supporting_documents.all %}
        <tr>
            <td>
                <a href="{{ document.download_url }}">{{ document.description }}</a>
            </td>
            <td>
                <form style="margin: 0;" method="post" action="{% url 'proposals:proposal_document_delete' document.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-xs">{% trans 'delete' %}</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Geen documenten bijgevoegd.</p>
    {% endif %}
    {% if not proposal.cancelled %}
    <a style="color: #FFF;" class="btn btn-sm{% if proposal.cancelled %} btn-disabled{% endif %}" href="{% url 'proposals:proposal_document_create' proposal.pk %}">
        <i class="fa fa-upload"></i> Bijvoegen document</a>
    {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}symposion/js/jquery.history.js"></script>
<script type="text/javascript">
    $(function () {
        var History = window.History;

        $(window).bind("anchorchange", function () {
            $(".nav-tabs a[href='" + location.hash + "']").click();
        });

        $('#.nav-tabs a[data-toggle="tab"]').on('shown', function (e) {
            if (History.enabled) {
                History.pushState(null, null, $(e.target).attr("href"));
            }
        });
    });
</script>
{% endblock extra_script %}