{% extends "mainscreen/base.html" %}
{% load i18n %}

{% block title %}Indienen voorstel | UBR|V-Lab{% endblock %}

{% block navbar %}
<nav class="breadCrumbNav">
    <span class="assistive">U bevindt zich hier:</span>
    <a href="https://www.ubrijk.nl/organisatie/ubr/over-ubr/ubr-v-lab">UBR|V-Lab</a>
    <a href="{% url 'symposion:dashboard' %}">Dashboard</a>
    <span>Voorstel</span>
</nav>
{% endblock %}

{% block content %}
<div id="content" class="article">
    {% if kinds %}
    <p>Selecteer het type voorstel wat u wilt indienen:</p>

    <ul>
        {% for kind in kinds %}
        <li>
            <a href="{% url 'proposals:proposal_submit_kind' kind.slug %}">{{ kind }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Proposals are not currently open for submission.</p>
    {% endif %}
</div>
{% endblock %}