{% extends "mainscreen/base.html" %}
{% load static %}

{% block title %}Welkom | UBR|V-Lab{% endblock %}

{% block navbar %}
<nav class="breadCrumbNav">
  <span class="assistive">U bevindt zich hier:</span>
  <a href="https://www.ubrijk.nl/organisatie/ubr/over-ubr/ubr-v-lab">UBR|V-Lab</a>
  <span>Welkom</span>
</nav>
{% endblock %}

{% block content %}
<div id="content" class="article">
<p><img src="{% static 'mainscreen/binaries/png/vlab_org.png' %}" width="100%" alt="Logo" /></p>
<div class="intro">
  <p><b><span style="color: rgb(255, 153, 0);">Welkom!</span></b></p><p><span style="color: #333399;">De wereld om ons heen verandert snel. Technologische ontwikkelingen volgen elkaar in rap tempo op. Deze ontwikkelingen hebben invloed op ons gedrag. Als UBR willen we daar maximaal op inspelen. Zowel in onze eigen organisatie als bij onze opdrachtgevers. Want, verandering blijft en dat geldt ook voor haar hoge tempo. Daar hebben we nieuwe vaardigheden bij nodig.<br></span></p>
</div>
<h2><span style="color: rgb(255, 153, 0);">Experimenteren, leren en verbinden</span></h2>
<p><span style="color: #333399;">V-Lab is er om medewerkers van UBR de laatste trends te laten volgen. Bij V-Lab experimenteren, leren en verbinden we in een veilige en vertrouwde omgeving. We testen nieuwe toepassingen en medewerkers ontwikkelen skills die passen bij hun leerdoel en bij de wereld van nu. En natuurlijk zet je ook eigen skills in om collega’s verder te helpen.<br></span></p>
<h2><span style="color: rgb(255, 153, 0);">Virtuele organisatie</span></h2>
<p><span style="color: #333399;">Een enthousiaste groep UBR collega’s heeft V-Lab opgericht. V-Lab is een virtuele organisatie binnen UBR waar deelnemers op basis van gelijkwaardigheid meedenken en meebeslissen. Voor en door UBR collega’s, verbonden met opdrachtgevers binnen het Rijk, het bedrijfsleven en de wetenschap. Wil je meedoen? Neem contact op met het V-Lab team. Ben je geen UBR-collega, maar heb je interesse om mee te doen of bij te dragen? Neem dan ook contact op.<br></span></p>
<p><span style="color: rgb(255, 153, 0);">v-lab@rijksoverheid.nl<br></span></p>
<h2><span style="color: rgb(255, 153, 0);">Labteam</span></h2>
<ul><li>Linda Boon<br></li><li>Arzu Surer<br></li><li>Karin Huisman<br></li><li>Ruud van de Steeg<br></li><li>Diederik van Leeuwen<br></li><li>Samir Lahiri<br></li><li>Lex Leoné</li></ul>
<p>Powered by:</p>
<ul><li>Femke van Lieshout (communicatie)<br></li><li>Richard Raats (inkoop)<br></li><li>Tim van Waard (online learning)<br></li><li>Vincent Hoek (online learning)<br></li><li>...en 10-tallen V-Lab deelnemers!</li></ul>
</div>
{% endblock %}
