{% extends "afspraken/emails/base.html" %}

{% block content %}
<h4>Geachte {{ afspraak.organisator.name }},</h4>
<p>De uitnodigingen om te helpen om een datum vast te stellen voor:
    <b>{{ afspraak.naam }}</b> zijn verzonden.</p>
{% if afspraak.intro %}
<div>
    <p>{{ afspraak.intro|safe }}</p>
</div>
{% endif %}
<br/>
{% if afspraak.locatie %}
<table>
    <tbody>
        <tr>
            <td>Locatie:</td>
            <td>{{ afspraak.locatie }}</td>
        </tr>
    </tbody>
</table>
<br/>
{% endif %}
{% if deelnemer %}
<p>U kunt uw beschikbaarheid aangeven door op deze link te klikken:</p>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" style="text-align:center;">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="text-align:center;display:inline-block;">
                <tr>
                    <td style="border-radius:3px;" bgcolor="#01689b">
                        <a href="{{ protocol }}://{{ domain }}{% url 'afspraken:beschikbaarheid' token=token %}" style="font-size:16px;font-weight:bold;color:#ffffff;text-decoration:none;border-radius:3px;padding:12px 18px;border:1px solid #01689b;display:inline-block;">Aangeven beschikbaarheid</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% else %}
<p>Ga voor een overzicht van beschikbaarheid van de deelnemers naar:</p>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" style="text-align:center;">
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="text-align:center;display:inline-block;">
                <tr>
                    <td style="border-radius:3px;" bgcolor="#01689b">
                        <a href="{{ protocol }}://{{ domain }}{% url 'afspraken:overzicht' token=token %}" style="font-size:16px;font-weight:bold;color:#ffffff;text-decoration:none;border-radius:3px;padding:12px 18px;border:1px solid #01689b;display:inline-block;">Overzicht beschikbaarheid</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endif %}
{% endblock content %}

{% block greeting %}
<p>Met vriendelijke groet,
    <br />
    <br />V-Lab afspraak planner namens {{ afspraak.organisator.name }}
</p>
{% endblock greeting %}