{% extends "accounts/auth_base.html" %}

{% load crispy_forms_tags %}

{% block navbar %}
<nav class="breadCrumbNav">
  <span class="assistive">U bevindt zich hier:</span>
  <a href="https://www.ubrijk.nl/organisatie/ubr/ubr-v-lab">UBR|V-Lab</a>
  <span>Wachtwoord wijzigen</span>
</nav>
{% endblock %}

{% block title %}Wijzig wachtwoord | UBR|V-Lab{% endblock %}

{% block form_heading %}Wijzig wachtwoord{% endblock %}

{% block form %}
  {% crispy form %}
{% endblock form %}

