{% extends "accounts/auth_base.html" %}

{% load crispy_forms_tags %}

{% block navbar %}
<nav class="breadCrumbNav">
  <span class="assistive">U bevindt zich hier:</span>
  <a href="https://www.ubrijk.nl/organisatie/ubr/ubr-v-lab">UBR|V-Lab</a>
  <span>Wachtwoord wijzigen</span>
</nav>
{% endblock %}

{% block title %}Herstel wachtwoord uitgevoerd | UBR|V-Lab{% endblock %}

{% block form_heading %}Herstel wachtwoord email verzonden{% endblock %}

{% block form %}
<div class="form-message">
  <p>
    Controleer uw email. Er is een herstel wachtwoord email verzonden.
  </p>
</div>
{% endblock form %}

