{% extends "rcd/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load cache %}

<!-- Custom styles for this site -->
{% block extrahead %}
  <link rel="stylesheet" href="{% static 'site/css/slight.css' %}" type="text/css" media="all">
{% endblock extrahead %}

{% block title %}{{ evenement.naam }} | Programma{% endblock %}

{% block navbar %}
<nav class="breadCrumbNav">
  <span class="assistive">U bevindt zich hier:</span>
  <a href="{% url 'rcd:index' %}">{{ evenement.naam }}</a>
  <span>Programma</span>
</nav>
{% endblock %}

{% block content %}
<div id="content" class="article">
  <h1 class="news">{{ evenement.naam }}</h1>
  <p class="article-meta">Programma</p>
  <dl>
    <dt>Datum:</dt>
    <dd>
      <time itemprop="startDate">{{ evenement.start_datum|date:"d F Y" }}</time>
      {% if evenement.einde_datum %} - <time itemprop="endDate">{{ evenement.einde_datum|date:"d F Y" }}</time>{% endif %}
    </dd>
	{% if evenement.locatie %}
    <dt>Locatie:</dt>
    <dd itemprop="location">{{ evenement.locatie }}</dd>
	{% endif %}
  </dl>
    {% for section in sections %}
        {% cache 600 "schedule-table" section.schedule.section %}
            {% for timetable in section.days %}
                <h3>{{ section.schedule.section.name }}</h3>
                {% include "schedule/_grid.html" %}
            {% endfor %}
        {% endcache %}
    {% endfor %}
</div>
{% endblock %}
